<!DOCTYPE html>
<html>

<head>
    <title>rusti</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="brand">
                <img src="static/img/favicon.png" alt="">
                <div class="brand-description">
                    <h1>rusti</h1>
                    <p>a tiny image service</p>
                </div>
            </div>

            <div class="content">
                <h2>New image</h2>
                <div class="upload">
                    <div class="upload-preview-box" id="upload-preview-box">
                    </div>

                    <div class="upload-file-description">
                        <button class="select-button" id="drop-zone">Select a file</button>
                        <input id="file" type="file" style="display: none;">
                        <p class="select-path" id="file-path"></p>
                    </div>

                    <div class="upload-file-settings">
                        <h3>Optional image settings</h3>

                        <div class="form-toggles">
                            <div class="form-toggle">
                                <p>Image Expiration:</p>
                                <select id="expires-in">
                                    <option value="no">Never</option>
                                    <option value="1h">1 hour</option>
                                    <option value="3h">3 hours</option>
                                    <option value="12h">12 hours</option>
                                    <option value="1d">1 day</option>
                                    <option value="7d">1 week</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <button class="upload-button" id="upload-button">Upload</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    const url = `${window.location.protocol}//${window.location.host}`;

    const fileExpires = document.getElementById("expires-in");
    const fileInput = document.getElementById("file");
    const dropZone = document.getElementById("drop-zone");
    const uploadButton = document.getElementById("upload-button");
    const imagePreview = document.getElementById("upload-preview-box");
    const imageNamePreview = document.getElementById("file-path");

    // Drop zone listeners
    dropZone.addEventListener("click", () => {
        fileInput.click();
    });

    fileInput.addEventListener("change", () => previewFile());

    uploadButton.addEventListener("click", () => uploadFile());

    // Upload file
    function uploadFile() {
        let file = fileInput.files[0];

        const form = new FormData();
        form.append("file", file);
        form.append("expires_in", fileExpires.value);

        fetch(url + "/upload", {
            method: "POST",
            body: form
        })
            .catch((err) => {
                alert("Failed to upload the file. Check the console!");
                console.error(err);
            })
            .then((response) => response.json())
            .then((json) => {
                if (json.data === null) {
                    alert(`${json.message} (${json.status_code})`);
                    return;
                }

                window.location.href = `${url}/${json.data.id}`;
            });
    }

    function previewFile() {
        while (imagePreview.firstChild) {
            imagePreview.removeChild(imagePreview.firstChild);
        }

        let file = fileInput.files[0];

        let extension = file.name.split(".")[file.name.split(".").length - 1];

        if (extension == "mp4") {
            const preview = document.createElement("video");
            preview.controls = true;
            preview.id = "upload-preview";
            const source = document.createElement("source");
            source.src = URL.createObjectURL(file);
            preview.appendChild(source);
            imagePreview.appendChild(preview);
        } else {
            const preview = document.createElement("img");
            preview.id = "upload-preview";

            if (extension == "png" || extension == "jpg" || extension == "webp" || extension == "gif") {
                preview.src = URL.createObjectURL(file);
            } else {
                preview.src = "static/img/image.png";
                preview.width = 128;
                preview.height = 128;
            }

            imagePreview.appendChild(preview);
        }

        imageNamePreview.innerHTML = file.name;
    }
</script>

</html>